@import "font";
@import "import";
@import "variable";

.content_container {
  width: $layout_width;
  height: auto;
  margin: 35px auto 85px;
  .tab_menu_box {
    width: $content_width;
    height: 50px;
    margin: 30px auto 100px;
    li {
      width: 33.1%;
      height: 50px;
      float: left;
      text-align: center;
      line-height: 50px;
      border: 1px solid #c4c4c4;
      border-right: none;
      a {
        color: #707070;
        font-family: "NanumBarunGothic", sans-serif;
      }
      &:hover {
        background-color: #eab900;
        transition-duration: 0.5s;
        a {
          color: white;
        }
      }
    }
    li:last-of-type {
      border-right: 1px solid #c4c4c4;
    }
  }
  .content_box {
    width: $content_width;
    margin: 0 auto;
    .title_box {
      font-family: "NanumBarunGothic", sans-serif;
      margin: 0 0 0 10px;
      h3 {
        font-size: 50px;
        padding: 20px 0;
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 50px;
          height: 10px;
          background-color: #f3c516;
          top: -20px;
          left: 0;
        }
      }
    }
    .table_box {
      width: 100%;
      height: auto;
      margin: 110px auto;

      .board_table {
        width: 100%;
        height: auto;
        border-top: 1px solid #888888;
        border-collapse: collapse;
        text-align: center;
        font-family: "NanumBarunGothic", sans-serif;
        thead {
          tr {
            height: 60px;
            background-color: #f8f8f8;
            border-bottom: 1px solid #bebebe;
          }
        }
        tbody {
          tr {
            height: 50px;
            border-bottom: 1px solid #bebebe;
            td {
              color: #7e7e7e;
              a {
                color: #7e7e7e;
              }
            }
            td:nth-of-type(2) {
              padding-left: 20px;
              text-align: left;
            }
          }
        }
      } // board_table
    } // board_table
    .btn_box {
      width: 100%;
      height: auto;
      margin: 37px 0;
      a {
        padding: 10px 20px;
        background-color: #7e7e7e;
        border: 1px solid #bebebe;
        color: white;
        font-family: "NanumBarunGothic", sans-serif;
        float: right;
      }
    } // btn_box
    .paging_box {
      width: auto;
      margin: 0 auto;
      text-align: center;
      span {
        padding: 5px 12px;
        border: 1px solid #bfbfbf;
        background-color: #5e5e5e;
        color: white;
        cursor: pointer;
      }
      .prev,
      .next {
        padding: 5px 15px;
        position: relative;
        background-color: unset;
        img {
          position: absolute;
          top: 5px;
          left: 10px;
        }
      }
    } // paging_box
  } // content_box
} // content_container

@media (max-width: 1024px) {
  .content_container {
    width: auto;
    .tab_menu_box {
      width: auto;
      height: 50px;
      margin: 30px auto 100px;
      text-align: center;
      li {
        width: 30%;
        height: 50px;
        float: unset;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        border: 1px solid #c4c4c4;
        a {
          color: #707070;
          font-size: 0.8em;
          font-family: "NanumBarunGothic", sans-serif;
        }
        &:hover {
          background-color: #eab900;
          transition-duration: 0.5s;
          a {
            color: white;
          }
        }
      }
      li:last-of-type {
        border-right: 1px solid #c4c4c4;
      }
    }
    .content_box {
      width: 90%;
      .table_box {
        .board_table {
          tbody {
            tr {
              td:nth-of-type(2) {
                width: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                line-height: 50px;
              }
            }
          }
        } // board_table
      } // board_table
      .btn_box {
        width: 100%;
        height: auto;
        margin: 37px 0;
        a {
          padding: 10px 20px;
          background-color: #7e7e7e;
          border: 1px solid #bebebe;
          color: white;
          font-family: "NanumBarunGothic", sans-serif;
          float: right;
        }
      } // btn_box
      .paging_box {
        width: auto;
        margin: 0 auto;
        text-align: center;
        span {
          padding: 5px 12px;
          border: 1px solid #bfbfbf;
          background-color: #5e5e5e;
          color: white;
        }
        .prev,
        .next {
          padding: 5px 15px;
          position: relative;
          background-color: unset;
          img {
            position: absolute;
            top: 5px;
            left: 10px;
          }
        }
      } // paging_box
    } // content_box
  } // content_container
}

@media (max-width: 766px) {
  .content_container {
    width: auto;
    .content_box {
      .title_box {
        h3 {
          font-size: 1.6em;
        }
        p {
          font-size: 0.8em;
        }
      } // title_box
    }
  }
}
