@import "font";
@import "import";
@import "variable";

.content_container {
  width: $layout_width;
  height: auto;
  margin: 35px auto 85px;
  .password_form {
    width: $content_width;
    text-align: center;
    margin: 130px auto;
    form {
      width: 100%;
      font-size: 14px;
      font-family: "NanumBarunGothic", sans-serif;
      margin: 20px 0;
      input[type="password"] {
        height: 30px;
        border: 1px solid #a6a6a6;
        border-radius: 5px;
        margin: 0 0 0 5px;
        padding: 0 10px;
      }
      input[type="submit"],
      a {
        width: 110px;
        padding: 8px 30px;
        border: 1px solid #a6a6a6;
        border-radius: 5px;
        margin: 0 5px;
        font-size: 14px;
        background-color: #5e5e5e;
        color: white;
        font-family: "NanumBarunGothic", sans-serif;
      }
    }
  } // password_form
} // content_container

@media (max-width: 1024px) {
  .content_container {
    width: auto;
    .password_form {
      width: auto;
    } // password_form
  } // content_container
}

@media (max-width: 766px) {
  .content_container {
    width: auto;
    .password_form {
      width: 90%;
      text-align: center;
      margin: 130px auto;
      img {
        width: 100%;
      }
      form {
        width: 100%;
        font-size: 0.8em;
        font-family: "NanumBarunGothic", sans-serif;
        margin: 20px 0;
        input[type="password"] {
          width: 30%;
          height: 30px;
          border: 1px solid #a6a6a6;
          border-radius: 5px;
          margin: 0 0 0 5px;
        }
        input[type="submit"],
        a {
          width: 50px;
          padding: 8px 10px;
          text-align: center;
          border: 1px solid #a6a6a6;
          border-radius: 5px;
          margin: 0 2px;
          font-size: 0.8em;
          background-color: #5e5e5e;
          color: white;
          font-family: "NanumBarunGothic", sans-serif;
        }
        a {
          padding: 8px 5px;
        }
      }
    } // password_form
  } // content_box
}
