@font-face {
  font-family: "Noto_regular";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto_right";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto_bold";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Arita_Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

.after::after {
  content: '';
  display: block;
  clear: both;
}

.copyright_container {
  width: 1920px;
  background: url("../img/footer/bg.png") no-repeat;
  margin-top: 150px;
  text-align: center;
}

.copyright_container img {
  padding: 10px 0px 0px;
  width: 86%;
}

.copyright_container ul {
  width: 100%;
  text-align: center;
}

.copyright_container ul li {
  display: inline-block;
  color: white;
  margin: 0px 0px 30px 10px;
  font-family: "Noto_regular", sans-serif;
  font-size: 15px;
}

.copyright_container p {
  color: white;
  padding-bottom: 20px;
  font-family: "Noto_regular", sans-serif;
  font-size: 15px;
}

.remote_box {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media (max-width: 1024px) {
  .copyright_container {
    width: auto;
    background: url("../img/footer/bg.png") no-repeat;
    margin-top: 200px;
    text-align: center;
  }
  .copyright_container img {
    padding: 50px 0px 35px 0px;
    width: 96%;
  }
  .copyright_container ul {
    width: 100%;
    text-align: center;
  }
  .copyright_container ul li {
    display: inline-block;
    color: white;
    margin: 0px 30px 30px 0px;
    font-family: "Noto_regular", sans-serif;
    font-size: 19px;
  }
  .copyright_container p {
    color: white;
    padding-bottom: 30px;
    font-family: "Noto_regular", sans-serif;
    font-size: 19px;
  }
}

@media (max-width: 766px) {
  .copyright_container {
    width: auto;
    background: url("../img/footer/bg.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    text-align: center;
  }
  .copyright_container img {
    padding: 10px 0px 0px;
  }
  .copyright_container ul {
    width: 100%;
    text-align: center;
  }
  .copyright_container ul li {
    display: inline-block;
    color: white;
    margin: 0px 5px 5px 0px;
    font-family: "Noto_regular", sans-serif;
    font-size: 0.6em;
  }
  .copyright_container p {
    color: white;
    padding-bottom: 30px;
    font-family: "Noto_regular", sans-serif;
    font-size: 0.6em;
  }
  .remote_box {
    display: none;
  }
}
