@font-face {
  font-family: "Noto_regular";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto_right";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto_bold";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Arita_Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

.after::after {
  content: '';
  display: block;
  clear: both;
}

.content_container {
  width: 1920px;
  height: auto;
  margin: 35px auto 85px;
}

.content_container .password_form {
  width: 1250px;
  text-align: center;
  margin: 130px auto;
}

.content_container .password_form form {
  width: 100%;
  font-size: 14px;
  font-family: "NanumBarunGothic", sans-serif;
  margin: 20px 0;
}

.content_container .password_form form input[type="password"] {
  height: 30px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  margin: 0 0 0 5px;
  padding: 0 10px;
}

.content_container .password_form form input[type="submit"],
.content_container .password_form form a {
  width: 110px;
  padding: 8px 30px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  margin: 0 5px;
  font-size: 14px;
  background-color: #5e5e5e;
  color: white;
  font-family: "NanumBarunGothic", sans-serif;
}

@media (max-width: 1024px) {
  .content_container {
    width: auto;
  }
  .content_container .password_form {
    width: auto;
  }
}

@media (max-width: 766px) {
  .content_container {
    width: auto;
  }
  .content_container .password_form {
    width: 90%;
    text-align: center;
    margin: 130px auto;
  }
  .content_container .password_form img {
    width: 100%;
  }
  .content_container .password_form form {
    width: 100%;
    font-size: 0.8em;
    font-family: "NanumBarunGothic", sans-serif;
    margin: 20px 0;
  }
  .content_container .password_form form input[type="password"] {
    width: 30%;
    height: 30px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    margin: 0 0 0 5px;
  }
  .content_container .password_form form input[type="submit"],
  .content_container .password_form form a {
    width: 50px;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    margin: 0 2px;
    font-size: 0.8em;
    background-color: #5e5e5e;
    color: white;
    font-family: "NanumBarunGothic", sans-serif;
  }
  .content_container .password_form form a {
    padding: 8px 5px;
  }
}
